/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLING BEGINS HERE */

/* no box-sizing rules found in CSS reset, SPA added this one to use screen size as border size for content */
html {
 box-sizing: border-box;
}

/* Styles Skiplinks */
.skiplinks ul { /* allows skiplinks nav to hold other elements with a position property */
    position: absolute; /* position absolute applied to ul */
	top: -10em; /* moves skiplinks above/outside of the screen */
}

.skiplinks a:focus { /* adds a "focus" pseudoclass for skiplinks */
color: #966f2c; /* color from the chart in assignment instructions, displays when user selects or tabs to skiplinks */
top: 0; /* brings skiplinks back on the page when they are focused on */
}


/* GLOBAL STYLES */

body {
  font-family: "Karla", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px; /* slightly larger than standard for accessibility */
  line-height: 1.5;
  background-color: #f3f0e9; /* color from the chart in assignment instructions */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "lato", sans-serif;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.027rem; /* font-size from the chart in assignment instructions */
	color: #ffffff; /* color from the chart in assignment instructions */
	

}

h2 {
	font-size: 1.802rem; /* font-size from the chart in assignment instructions */
	color: #000000;
}

h3 {
	font-size: 1.424rem; /* font-size from the chart in assignment instructions */
	color: #d69e3d; /* color from the chart in assignment instructions */
}

p {
 line-height: 1.5rem; /* adds slightly more space between lines for accessibility */
}

/* styles all images */
img {
	width: 100%;
}

/* Styles Links */
a:link {
	
}

a:hover {
  color: #966f2c; /* color from the chart in assignment instructions */ 
}

a:active {

}

a:visited {

}

/* styles buttons */

button {

}

button:hover {

}

button:active {

}



/* STYLES BY SECTION */

.wrapper {
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
}

header {
	background-color: #000000; /* color from the chart in assignment instructions */
	display: grid;
}

/* styles nav bar */
nav {
	margin-bottom: 1.5rem; /* creates spaces between sections */
}

nav ul {
	display: flex; /* displays content side by side in the center */
	justify-content: center;
	
}

/* creates space between nav items */
nav ul li {
	margin-right: 1rem;
	margin-left: 1rem;
}

/* styles anchor tags */
nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

/* sets the banner container's position to relative */
.banner {
	position: relative;
}

/* styles overlay background to darken the banner image */
.banner-text {
	position: absolute;
	/* banner's height is the container's height to overlay banner text */
	top: 0; /* sets reference point for banner text position as top of container */
	width: 100%;
	height: 100%;
	background-color: #00000069; /* adjust transparency to style */
}

.banner img {
	margin-bottom: 1.5rem;
}

header img {
	margin-top: 2rem;
}

main {

}

footer {
	background-color: #000000; /* color from the chart in assignment instructions */
}

/************************ MEDIA QUERIES ************************/

/* STYLES FOR TABLET */
@media screen and (min-width: 768px) {
	
	h1 {
		font-size: 2.986rem;
	}

	h2 {
		font-size: 2.488rem;
	}

	h3 {
		font-size: 1.728rem;
	}

	p {
		font-size: 1rem;
	}

}

/* STYLES FOR DESKTOP */
@media screen and (min-width: 1100px) {

	h1 {
		font-size: 3.815rem;
	}

	h2 {
		font-size: 3.052rem;
	}

	h3 {
		font-size: 1.953rem;
	}

	p {
		font-size: 1rem;
	}

}