
/***************************************** CSS reset *****************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************** MY STYLING BEGINS HERE *****************************************/

/* no box-sizing rules found in CSS reset, SPA added this one to use screen size as border size for content */
html {
 box-sizing: border-box;
}

/***************************************** Styles Skiplinks *****************************************/
.skiplinks ul { /* allows skiplinks nav to hold other elements with a position property */
    position: absolute; /* position absolute applied to ul */
	top: -10em; /* moves skiplinks above/outside of the screen */
}

.skiplinks a:focus { /* adds a "focus" pseudoclass for skiplinks */
color: #966f2c; /* color from the chart in assignment instructions, displays when user selects or tabs to skiplinks */
top: 0; /* brings skiplinks back on the page when they are focused on */
}


/***************************************** GLOBAL STYLES *****************************************/

body {
  font-family: "Karla", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px; /* slightly larger than standard for accessibility */
  background-color: #f3f0e9; /* color from the chart in assignment instructions */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "lato", sans-serif;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 2%;
}

h1 {
	font-size: 2.027rem; /* font-size from the chart in assignment instructions */
	color: #ffffff; /* color from the chart in assignment instructions */
}

h2 {
	font-size: 1.802rem; /* font-size from the chart in assignment instructions */
	color: #000000;
}

h3 {
	font-size: 1.424rem; /* font-size from the chart in assignment instructions */
	color: #d69e3d; /* color from the chart in assignment instructions */
}

p {
 line-height: 1.5rem; /* adds slightly more space between lines for accessibility */
}

/* GLOBAL IMAGE STYLING */
img {
	width: 100%;
}

/* GLOBAL LINK STYLING */
a:link { /* when the user is not interacting with the link */
	color: #ffffff;
}

a:hover { /* when the user hovers over the link */
  	color: #d69e3d; /* color from the chart in assignment instructions */ 
}

a:active { /* when the user clicks the link */
	color: #966f2c; /* color from the chart in assignment instructions */ 
}

a:visited { /* when the user sees a link they have already clicked */
	color: #ffffff; /* color from the chart in assignment instructions */
}

/* GLOBAL BUTTON STYLING (EXPLORE OUR MENU BUTTONS) */

button { /* when the user is not interacting with the button */
	background-color:#ffffff; /* colors from the chart in assignment instructions */
	border: none;
	font-weight: bold;
	text-align: center;
	/* adds spacing in and around buttons */
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

button:hover { /* when the user hovers over the button */
	background-color:#000000; /* colors from the chart in assignment instructions */
	color: #ffffff; 
	border: #ffffff;
	font-weight: bold;
}

button:active { /* when the user clicks the button */
	background-color:#000000; /* colors from the chart in assignment instructions */
	color: #d69e3d; 
	border: #ffffff;
	font-weight: bold;
}



/***************************************** STYLES BY SECTION *****************************************/

/******************************************** STYLES HEADER *********************************************/

.header {
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
}

header {
	background-color: #000000; /* color from the chart in assignment instructions */
	display: grid;
	width: 100%;
}

/* styles logo */
header img {
	height: 2rem;
}

/* styles nav bar */
nav {
	margin-bottom: 1.5rem; /* creates spaces between sections */
}

nav ul {
	display: flex; /* displays content side by side */
	justify-content: center; /* centers content */
}

/* creates space between nav items */
nav ul li {
	margin-right: 1rem;
	margin-left: 1rem;
}

/* styles anchor tags */
nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

/***************************************** STYLES BANNER SECTION *****************************************/

.banner {
	position: relative; /* sets the banner container's position to relative */
}

.banner-overlay { /* styles overlay background to darken the banner image */
	position: absolute; /* positions overlay background over the image */
	background-color: #0000006b; /* adjust transparency to style */
	color: #ffffff; /* font color from assignment instructions */
	display: flex; /* allows elements to be arranged */
	align-items: center; /* aligns banner text in center of the image container */


	/* banner's height is the container's height to overlay banner text */
	top: 0%; /* sets reference point for banner text position as top of container */
	width: 100%; /* covers full width of image */
	height: 100%; /* covers full height of image */
}

.banner-text { /* styles text within banner overlay */
	position: absolute;
	display: flex; /* allows elements to be arranged */
	flex-direction: column; /* stacks elements vertically */
	text-align: center; /* centers text alignment */
	align-items: center; /* centers the button only? */
	
	padding-top: 1rem;  /* adds space between elements */
	padding-bottom: 1rem; /* adds space between elements */
}

.banner-text h1 {
	margin: 0; /* adds margin */
}

.banner-text p {
	padding-top: 1rem;/* adds space between elements */
	padding-bottom: 1rem; /* adds space between elements */
}


/***************************************** STYLES WELCOME SECTION *****************************************/

#welcome { /* targets unique section id */
	padding: 5%; /* adds padding */
}

#photo-grid { /* targets unique section id */
	display: grid; /* arranges photos as a grid */
	grid-template-rows: auto auto auto auto; /* grid has 4 rows */
	grid-template-columns: auto auto; /* grid has 2 columns */
	gap: 1em; /* adds space between images */
}

#foam-art { /* targets unique img id */
	grid-column: span 2; /* img takes 2 columns */
	grid-row: span 2; /* img takes 2 rows */
}

/************************************** STYLES PRODUCTS-SERVICES SECTION **************************************/

#products-services { /* targets unique section id */
	padding: 5%; /* adds padding */
	display: flex; /* allows elements to be arranged */
	flex-direction: column; /* stacks items vertically */
	text-align: center; /* centers text */
}

#products-services aside { /* targets unique section id */
	margin-top: 10%;
	margin-bottom: 10%;
}

#products-services img {
	width: 50%;
}

/***************************************** STYLES EXPLORE SECTION *****************************************/

#explore { /* targets unique section id */
  	text-align: center; /* center aligns text */
	background-image: url("../images/coffee-shop.jpeg");
	background-size: cover;
}

#explore-text { /* targets unique wrapper id */
	background-color: #0000006b; /* adjust transparency to style */
	padding-top: 3%;
	padding-bottom: 3%;

	/* banner's height is the container's height to overlay banner text */

	width: 100%; /* covers full width of image */
	height: 100%; /* covers full height of image */
}

#explore-text aside {
	margin-top: 3%;
	margin-bottom: 3%;
}

/* styles view-locations button (our menu button is global styling) */
/********************************************* UNRESOLVED *********************************************/ 
/* view-locations button border is not displaying */

#view-locations { /* targets unique button id when the user is not interacting with it" */
	background-color: transparent; /* colors from the chart in assignment instructions */
	color: #ffffff;
	border: #ffffff;
}

#view-locations:hover { /* targets unique button id when the user is hovering over it" */
	background-color: #000000; /* colors from the chart in assignment instructions */
	color: #ffffff;
	border: #ffffff;
}

#view-locations:active { /* targets unique button id when the user clicks it" */
	background-color: #000000; /* colors from the chart in assignment instructions */
	color: #d69e3d;
	border: #d69e3d;
}

/***************************************** STYLES ABOUT-US SECTION *****************************************/

#about-us { /* targets unique section id */
	margin-top: 10%; /* adds space between sections */
	margin-bottom: 10%; /* adds space between sections */
	padding: 5%; /* adds padding */
}

#about-us h2 { /* adds space between elements */
	padding-bottom: 2%;
}
/* styles learn-more button */

#learn-more { /* targets unique button id when the user is not interacting with it" */
	background-color:#000000; /* colors from the chart in assignment instructions */
	color: #ffffff;
	border: #ffffff;
}

#learn-more:hover { /* targets unique button id when the user is hovering over it" */
	background-color: #966f2c; /* colors from the chart in assignment instructions */
	color: #000000;
	border: #000000;
}

#learn-more:active { /* targets unique button id when the user clicks it" */
	background-color: #000000; /* colors from the chart in assignment instructions */
	color: #d69e3d;
	border: #d69e3d;
}


/***************************************** STYLES TESTIMONIALS SECTION *****************************************/

#testimonials { /* targets unique section id */
	background-color: #000000; /* color from the chart in assignment instructions */
	color: #ffffff; /* color from the chart in assignment instructions */
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20%;
	padding-bottom: 20%;
}

#testimonials h2 { /* targets the h2 in this section */
	color: #ffffff; /* color from the chart in assignment instructions */
	margin-bottom: 10%;
}

.testimonial { /* targets unique id */
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
}

.testimonial-text { /* targets unique section id */
	position: absolute; /* positions overlay background over the image */
	background-color: #0000006b; /* adjust transparency to style */
	color: #ffffff; /* font color from assignment instructions */
	display: flex; /* allows elements to be arranged */
	justify-content: flex-end;
	flex-direction: column;
	align-items: start; /* aligns banner text at end of each image container */

	/* banner's height is the container's height to overlay banner text */
	bottom: 0%; /* sets reference point for banner text position as top of container */
	height: 100%; /* covers full height of image */
}

.testimonial-text p, .testimonial-text h3 {
	padding: 1rem;
}


/******************************************** STYLES FOOTER *********************************************/

footer {
	background-color: #000000; /* color from the chart in assignment instructions */
	color: #ffffff; /* color from the chart in assignment instructions */
	display: flex; /* allows justify content */
	justify-content: center; /* centers content */
	padding-bottom: 2rem; /* adds extra padding to bottom */
	border-top: solid 1px #ffffff;
	padding-top: 1rem;
}


/******************************************** MEDIA QUERIES *********************************************/

/******************************************** STYLES FOR TABLET *********************************************/

/******************************************** GLOBAL STYLES FOR TABLET *********************************************/

@media screen and (min-width: 768px) { /* applies to screens 768px - 1099px */
	
	h1 {
		font-size: 2.986rem; /* value from assignment instructions */
	}

	h2 {
		font-size: 2.488rem; /* value from assignment instructions */
	}

	h3 {
		font-size: 1.728rem; /* value from assignment instructions */
	}

	p {
		font-size: 1rem; /* value from assignment instructions */
	}

/***************************************** STYLES HEADER FOR TABLET *****************************************/	



/***************************************** STYLES WELCOME SECTION FOR TABLET *****************************************/

	#photo-grid { /* targets unique section id */
		display: grid; /* arranges photos as a grid */
		grid-template-rows: auto auto; /* grid has 2 rows */
		grid-template-columns: auto auto auto auto; /* grid has 4 columns */
	}

/************************************** STYLES PRODUCTS-SERVICES SECTION FOR TABLET **************************************/	

	#fairtrade-localbakedgoods { /* targets unique section id */
		display: flex; /* displays r */
	}
	
/***************************************** STYLES EXPLORE SECTION FOR TABLET *****************************************/
	#explore { /* targets unique section id */
		
	}

/************************************** STYLES ABOUT-US SECTION FOR TABLET **************************************/

	#about-us { /* targets unique section id */
		display: grid; /* displays text beside image */
		grid-template-rows: auto; /* grid has one row */
		grid-template-columns: auto auto; /* grid has 2 columns */
		gap: 5%; /* adds space between columns */
	}

/***************************************** STYLES EXPLORE SECTION FOR TABLET *****************************************/
	#explore { /* targets unique section id */
		
	}

/***************************************** STYLES TESTIMONIALS SECTION FOR TABLET *****************************************/
	#testimonials { /* targets unique section id */
		
	}

} /* closes tablet media query */




/******************************************** STYLES FOR DESKTOP *********************************************/

/******************************************** GLOBAL STYLES FOR DESKTOP *********************************************/

@media screen and (min-width: 1100px) { /* applies to screens 1000 px and larger */

	h1 {
		font-size: 3.815rem; /* value from assignment instructions */
	}

	h2 {
		font-size: 3.052rem; /* value from assignment instructions */
	}

	h3 {
		font-size: 1.953rem; /* value from assignment instructions */
	}

	p {
		font-size: 1rem; /* value from assignment instructions */
	}

/************************************** STYLES PRODUCTS-SERVICES SECTION FOR DESKTOP **************************************/

	#products-services-asides { /* targets unique id */
		display: flex; /* allows elements to be arranged */
		flex-direction: row; /* arranges elements in a row */
	}

	#products-services aside { /* targets unique id */
		padding-left: 3rem; /* adds space between items */
		padding-right: 3rem; /* adds space between items */
	}

} /* closes desktop media query */